input[type=text],
input[type=password],
input[type=number] {
    width: 100%;
    padding: 5px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
    border: 3px solid #555;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 50vh; */
}

.center>form,
.center>h1,
.center>a {
    text-align: center;
}

.boxoutline {
    border: 2px dashed #000;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 1.5em;
    background-color: whitesmoke;
}

.backgroundAni {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/*requirements*/
.invalidBox {
    border: 3px solid red !important;
}

.neutral {
    color: rgb(100, 100, 100);
}

.neutral:before {
    position: relative;
    left: -5px;
    content: "●";
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -5px;
    content: "●";
}

.invalid {
    color: rgb(129, 129, 129);
}

.invalid:before {
    position: relative;
    left: -5px;
    content: "●";
}

#passwordReq {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px;
}

#nameReq {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px;
}