:root {
    --maincolor: rgb(196, 196, 196);
}

body {
    background-color: var(--maincolor);
    margin: 0;
    font-family: Georgia, serif;
}

#main {
    margin: 0;
    padding: 10px;
    width: 85%;
    height: 100%;
    float: right;
    position: relative;
}

#profile {
    height: 30%;
    width: 80%;
    float: right;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profilePic {
    height: 100%;
    width: 10%;
    float: left;
}

#profilePic>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--maincolor);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#profileInfo {
    height: 100%;
    width: 80%;
    float: right;
    padding-left: 10px;
    margin: 0;
}

#profileInfo>h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#profileInfo>h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(65, 65, 65);
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    min-width: 10%;
    max-width: 12%;
    height: 100%;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-right: 2px solid var(--maincolor);
    font-size: 20px;
}

/*ListTop*/
#listTop {
    margin: 0;
}

#listTop>ul {
    padding: 5px;
    padding-top: 30px;
}

#listTop>ul>li {
    list-style-type: none;
    margin: 10px 0 0 0;
    overflow: hidden;
    padding-top: 10px;
    height: 110%;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    cursor: pointer;
}

#listTop>ul>li:hover {
    background-color: var(--maincolor);
    border-radius: 100px;
}

#listTop>ul>li:hover>a>i {
    transform: scale(1.1) rotate(360deg);
}

#listTop>ul>li>a {
    text-decoration: none;
    padding: 8px;
    color: black;
    width: 100%;
}

#listTop>ul>li>a>i {
    padding-right: 5px;
    padding-left: 0;
}

.listSelected {
    background-color: rgb(179, 179, 179);
    border-radius: 100px;
}