.postActionWrapper {
    position: relative;
    padding: 5px;
    margin: 0;
}

.postAction {
    bottom: 0;
    position: absolute;
}

.postLike {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-weight: 600;
    color: rgb(65, 65, 65);
    width: fit-content;
    cursor: pointer;
}

.postLike:hover>i {
    transform: scale(1.1);
}

.postLike>i {
    padding-right: 5px;
}

#followerDiv {
    margin-top: 10px;
}

#followerCount {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 600;
}

#followerCount :first-child {
    color: black;
}

#followerCount :last-child {
    color: rgb(65, 65, 65);
}

#followingCount {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 600;
}

#followingCount :first-child {
    color: black;
}

#followingCount :last-child {
    color: rgb(65, 65, 65);
}

#posts {
    width: 100%;
    height: 80%;
    float: right;
    padding: 2px 2px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 2px solid var(--postOutline);
    padding-top: 5px;
}

.post {
    width: 100%;
    float: right;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--postOutline);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.postUserPic {
    height: 100%;
    max-width: 5%;
    border-radius: 50%;
    border: 2px solid var(--pfpOutline);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.postContentAndCredetialsWrapper {
    padding-left: 10px;
    width: 92%;
    display: inline-block;
    height: 100%;
}

.postUserCredentials {
    display: flex;
}

.postDisplayName {
    margin: 0;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 20px;
    bottom: 0;
    font-weight: 600;
}

.postName {
    margin: 0;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 17px;
    color: rgb(65, 65, 65);
    bottom: 0;
    font-weight: 500;
}

.postDate {
    margin: 0;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 17px;
    color: rgb(65, 65, 65);
    bottom: 0;
    font-weight: 500;
}

.postContent {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    font-size: 16px;
    white-space: normal;
}

#profile {
    width: 80%;
    float: right;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profilePic {
    height: 100%;
    width: 10%;
    float: left;
}

#profilePic>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--pfpOutline);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#profileInfo {
    height: 100%;
    width: 80%;
    float: right;
    padding-left: 10px;
    margin: 0;
}

#profileInfo>h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#profileInfo>h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(65, 65, 65);
}