:root {
    --maincolor: rgb(22, 86, 160);
    --menucolor: rgba(143, 144, 145, 0.5);
    --breakcolor: rgba(150, 152, 153, 0.7);
    --listHover: rgba(206, 206, 206, 0.5);
    --listSelected: rgba(197, 197, 197, 0.5);
    --pfpOutline: rgba(0, 0, 0, 0.5);
    --postOueline: rgba(0, 0, 0, 0.5);
}

body {
    background: var(--maincolor);
    margin: 0;
    font-family: Georgia, serif;
}

body,
html {
    height: 100%;
}

body>div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.backgroundBlackGradient {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0.6) 83%);
}

#main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 85%;
    float: right;
    position: relative;
}

#mainBackground {
    height: 95%;
    width: 97%;
    margin: 0 auto;
    padding: 10px;

    /*center in the middle verti and hori*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}	

#menu {
    position: fixed;
    margin-left: 10px;
    top: 50%;
    transform: translate(0, -50%);

    min-width: 10%;
    max-width: 12%;
    height: 90%;

    background-color: var(--menucolor);

    border-radius: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    font-size: 20px;
}

.break {
    background-color: var(--breakcolor);
    width: 80%;
    height: 0.7%;
    margin: 20px 0 20px 0;
    border-radius: 1em;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/*List*/
#listTop {
    margin: 0;
}

#listTop>ul {
    padding: 5px;
    padding-bottom: 30px;
}

#listTop>ul>li {
    list-style-type: none;
    margin: 10px 0 0 0;
    overflow: hidden;
    padding-top: 10px;
    height: 110%;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    cursor: pointer;
}

#listTop>ul>li:hover {
    background-color: var(--listHover);
    border-radius: 10px;
}

#listTop>ul>li:hover>a>i {
    transform: scale(1.1) rotate(360deg);
}

#listTop>ul>li>a {
    text-decoration: none;
    padding: 8px;
    color: black;
    width: 100%;
}

#listTop>ul>li>a>i {
    padding-right: 5px;
    padding-left: 5px;
}

.listSelected {
    background-color: var(--listSelected);
    border-radius: 10px;
}


@media only screen and (max-width: 1026px) {
    #listTop>ul>li>a>span {
        display: none;
    }

    #listTop>ul>li>a>i {
        padding-right: 0;
        padding-left: 5px;
    }
}


.backgroundAni {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}